<div class="d-flex justify-content-center my-5  p-5">
    <h1 class="fw-bold p-2 align-self-center text-secondary">Actualizar Producto</h1>
    <div class="row row-cols-2  shadow p-3 input-container w-50 overflow-hidden">
        <div>
            <form class=" w-auto justify-content-center " [formGroup]="form">
                <label for="input_select" class="fw-bold mb-1 input-label">Imagen <strong class="text-danger">*</strong></label>
                <select formControlName  class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_select"  [ngClass]="{'invalid':isInvalid('password')}">
                    <option *ngFor="let product of products">{{product.id}}</option>
                </select>
                <span class="position-absolute position-relative bottom-0 end-0 m-2 input-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill text-secondary invalid-info" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>
                    <span class="tooltip-box position-absolute bg-white rounded-2 p-2 text-secondary shadow me-2 end-100 top-50 translate-middle-y invalid">
                        <p class="m-0 p-0 w-auto">{{getErrors('password')}}</p>
                    </span>
                </span>                
            </form>
        </div>
        <div>
            <form >
                <label for="input_img" class="fw-bold mb-1 input-label">Contraseña <strong class="text-danger">*</strong></label>
                <input type="file" formControlName="password" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" [ngClass]="{'invalid':isInvalid('password')}"  id="input_img" autocomplete="off">
                <span class="position-absolute position-relative bottom-0 end-0 m-2 input-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill text-secondary invalid-info" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>  
                    <span class="tooltip-box position-absolute bg-white rounded-2 p-2 text-secondary shadow me-2 end-100 top-50 translate-middle-y invalid">
                        <p class="m-0 p-0 w-auto">{{getErrors('password')}}</p>
                    </span>
                </span>
            </form>
        </div>
        <div>
            <form [formGroup]="form">
                <label for="input_img" class="fw-bold mb-1 input-label">Contraseña <strong class="text-danger">*</strong></label>
                <input type="text" placeholder="title"  class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input">
            </form>
            <span class="position-absolute position-relative bottom-0 end-0 m-2 input-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill text-secondary invalid-info" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
                <span class="tooltip-box position-absolute bg-white rounded-2 p-2 text-secondary shadow me-2 end-100 top-50 translate-middle-y invalid">
                    <p class="m-0 p-0 w-auto">{{getErrors('password')}}</p>
                </span>
            </span>             
        </div>
        <div>
            <form [formGroup]="form">
                <label for="input_img" class="fw-bold mb-1 input-label">Contraseña <strong class="text-danger">*</strong></label>
                <input type="text" placeholder="precio"  class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input">
            </form>
            <span class="position-absolute position-relative bottom-0 end-0 m-2 input-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill text-secondary invalid-info" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
                <span class="tooltip-box position-absolute bg-white rounded-2 p-2 text-secondary shadow me-2 end-100 top-50 translate-middle-y invalid">
                    <p class="m-0 p-0 w-auto">{{getErrors('password')}}</p>
                </span>
            </span>             
        </div>
        <div>
            <form [formGroup]="form">
                <label for="input_img" class="fw-bold mb-1 input-label">Contraseña <strong class="text-danger">*</strong></label>
                <input type="text" placeholder="categoria"  class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input">
            </form>
            <span class="position-absolute position-relative bottom-0 end-0 m-2 input-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill text-secondary invalid-info" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
                <span class="tooltip-box position-absolute bg-white rounded-2 p-2 text-secondary shadow me-2 end-100 top-50 translate-middle-y invalid">
                    <p class="m-0 p-0 w-auto">{{getErrors('password')}}</p>
                </span>
            </span>             
        </div>
        <div>
            <form [formGroup]="form">
                <label for="input_img" class="fw-bold mb-1 input-label">Contraseña <strong class="text-danger">*</strong></label>
                <input type="text" name="" id="" placeholder="rating"  class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input">
            </form>
            <span class="position-absolute position-relative bottom-0 end-0 m-2 input-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill text-secondary invalid-info" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
                <span class="tooltip-box position-absolute bg-white rounded-2 p-2 text-secondary shadow me-2 end-100 top-50 translate-middle-y invalid">
                    <p class="m-0 p-0 w-auto">{{getErrors('password')}}</p>
                </span>
            </span>             
        </div>
        <div>
            <form [formGroup]="form">
                <label for="input_img" class="fw-bold mb-1 input-label">Contraseña <strong class="text-danger">*</strong></label>
                <input type="text" placeholder="descripcion"  class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" >      
            </form>
            <span class="position-absolute position-relative bottom-0 end-0 m-2 input-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill text-secondary invalid-info" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
                <span class="tooltip-box position-absolute bg-white rounded-2 p-2 text-secondary shadow me-2 end-100 top-50 translate-middle-y invalid">
                    <p class="m-0 p-0 w-auto">{{getErrors('password')}}</p>
                </span>
            </span>             
        </div>         
    </div>
</div>
