.input{
    outline: none;
    position: relative !important;
    transition: outline ease .1s;
    outline-style: solid;
    outline-color: transparent;
    outline-width: 3px;
    border-color: rgb(197, 197, 197);;
    
}
.input:focus,
.input:hover{
    outline-color: rgb(197, 197, 197);
}

.input.invalid ~ .input-info .invalid,
.input.invalid{
    outline-color: rgb(240, 74, 74) !important;
    background-color: rgb(240, 74, 74) !important;
    background-color: rgb(255, 217, 217) !important;
    color: red !important;
}

.input.invalid ~ .input-info .invalid-info{
    color: red !important; 
}
.input-info{
    cursor: pointer;
    padding: 8px;
    padding-top: 4px;
}
.input-info:hover .tooltip-box{
    visibility: visible;
}
.input-label{color: var(--principal-color) !important;}

