<header class="row row-cols-1 row-cols-sm-3 bg-secondary text-white p-2 m-0 justify-content-around ">
    <div class="align-content-center">
        <button class="btn fs-4 align-self-center text-white w-auto border-none m-1 " (click)="rute.navigate(['crud/get'])">Ver</button>
        <button class="btn fs-4 align-self-center text-white w-auto border-none m-1 " (click)="rute.navigate(['crud/post'])">Crear</button>
        <button class="btn fs-4 align-self-center text-white w-auto border-none m-1 " (click)="rute.navigate(['crud/put'])" >Actualizar</button>
        <button class="btn fs-4 align-self-center text-white w-auto border-none m-1 " (click)="rute.navigate(['crud/delete'])">eliminar</button>
    </div>
    <h1 class="fw-bold align-self-center text-start">Bienvenid@s </h1>
    <button class="btn fs-4 align-self-center text-white w-auto border-none m-1 " (click)="rute.navigate(['mapa'])">Ver el Mapa</button>
  </header>
