<div class="d-flex justify-content-center m-3">
    <div class="bg-secondary opacity-25 shadow p-3">
        <form class=" w-auto row row-cols-2 justify-content-evenly " action="">
            <input type="text" placeholder="title" class="m-2 col-5">
            <input type="text" placeholder="precio" class="m-2 col-5">
            <input type="text" placeholder="descripcion" class="m-2 col-5">
            <input type="text" placeholder="categoria" class="m-2 col-5">
            <input type="image" placeholder="imagen" class="m-2 col-5">
            <input type="text" name="" id="" placeholder="rating" class="m-2 col-5">
        </form>
    </div>
</div>
