<!-- Vista por tarjeta de los productos -->
<button (click)="open(content,'lg')" class="m-3 py-3 px-2 shadow-sm card" style="width: 18rem;">
    <img [src]=product.image *ngIf="product.image!==''" class="card-img-top" alt="..." height="300px" style="object-fit: contain;">
    <div *ngIf="product.image==''" class="row justify-content-center w-100 m-0">
        <div class="col-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="300" fill="currentColor" class="bi bi-bag-plus-fill text-success" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
            </svg>
        </div>
    </div>
    <hr class="bg-secondary">
    <div class="card-body">
      <h4 class="card-title fw-bold ">{{product.title.slice(0,15)}}...</h4>
      <h5 class="text-danger fw-light text-decoration-line-through m-0">${{product.price}}</h5>
      <h2 class="text-secondary fw-bold">${{precioConDescuento(product.price)}}<span
              class="fs-4 text-success fw-lighter"> %20 OFF</span></h2>
      <h5 class="fw-bold text-secondary">{{product.category}}</h5>
    </div>
</button>

<!-- Vista detallada del producto -->
<ng-template #content let-modal class="position-relative pt-3">
	<div class="modal-body">
        <!-- Visual de la informacion -->
        <div *ngIf="!editInfo" class="row justify-content-center mt-2">
            <div class="col-auto">
                <img [src]="product.image" *ngIf="product.image!==''" height="300px" width="300px" class="" alt="" style="object-fit: contain;">
                <div *ngIf="product.image==''" class="row justify-content-center w-100 m-0">
                    <div class="col-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="300" fill="currentColor" class="bi bi-bag-plus-fill text-success" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h4 class="mx-2 modal-title" id="modal-basic-title">{{product.title}}</h4>
                <h5 class="mx-2 fw-bold text-secondary">{{product.category}}</h5>
                <h6 class=" text-success mx-2"><strong class="fw-ligth">${{precioConDescuento(product.price)}}</strong> 20% OFF</h6>
		        <p class="m-2" >{{product.description}}</p>
            </div>
        </div>
        <!-- Formulario de actualizacion/creacion de producto -->
        <form *ngIf="editInfo" class="row m-0 justify-content-center " [formGroup]="productoFormulario">
            <div class="col-auto position-relative border border-1 border-secondary rounded-5 p-0 image-pre">
                <img class="image-pre p-1" [src]="imageUrl" *ngIf="imageUrl!=''" alt="..." style="object-fit: contain;">
                <img class="image-pre p-1" [src]="product.image" *ngIf="imageUrl == ''" alt="..." style="object-fit: contain;">
                <input type="file" class="image-pre position-absolute top-0 start-0" accept="image/*" (change)="showPreviewImage($event)" style="opacity: 0;">
            </div>
            <div class="col-12 col-lg-6 p-2">
                <div class="m-0 mb-2 row">
                    <label for="titleinput" class="form-label ps-0 col-2 align-self-center fw-bold text-secondary">Titulo</label>
                    <input type="email" class="form-control col" formControlName="title" id="titleinput">
                </div>
                <div class="m-0 mb-2 row">
                    <label for="priceinput" class="form-label ps-0 col-2 align-self-center fw-bold text-secondary">Precio</label>
                    <input type="email" class="form-control col" formControlName="price" id="priceinput">
                </div>
                <div class="m-0 mb-2 row">
                    <label for="categoryinput" class="form-label ps-0 col-3 align-self-center fw-bold text-secondary">Categoria</label>
                    <select class="form-select col" formControlName="category" id="categoryinput">
                        <option *ngFor="let categoria of productos.categories()" [value]="categoria">{{categoria}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="descriptioninput" class="form-label fw-bold text-secondary">Descripcion</label>
                    <textarea class="form-control" id="descriptioninput" formControlName="description" rows="4" style="resize:none;">{{product.description.trim()}}</textarea>
                </div>
            </div>
        </form>
        <!-- Botones de manipulacion -->
        <div class="row m-0 justify-content-end">
            <button *ngIf="!editInfo" class="col-auto mx-1 btn btn-success" (click)="setInfo()">Editar</button>
            <button *ngIf="!editInfo"  class="col-auto mx-1 btn btn-danger" (click)="open(eliminaritem,'sm')">Eliminar</button>
            <button *ngIf="editInfo && product.id!='any'"  class="col-auto mx-1 btn btn-primary" (click)="open(actualizaritem,'sm')" >Actualizar</button>
            <button *ngIf="editInfo && product.id=='any'"  class="col-auto mx-1 btn btn-success" (click)="open(crearitem,'sm')" >Crear</button>
            <button *ngIf="editInfo"  class="col-auto mx-1 btn btn-danger" (click)="product.id!='any'?setInfo():modal.close()">Cancelar</button>
        </div>
	</div>
    <div class="position-absolute top-0 end-0">
        <button type="button" class="btn-close m-2" aria-label="Close" (click)="modal.close()"></button>
    </div>
</ng-template>
<!-- Menu de confirmacion para eliminacion -->
<ng-template #eliminaritem let-eliminaritem>
	<div class="modal-body row m-0 justify-content-center">
        <div class="col-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" fill="currentColor" class="bi bi-emoji-frown text-danger" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg>
        </div>
        <p class="fs-5 col-12">Estas seguro que desea actualizar este producto?, esta accion es <strong class=" text-danger">irreversible</strong>.</p>
        <hr>
        <button class="btn btn-primary col-auto"  (click)="delete()">Aceptar</button>
        <button *ngIf="!editInfo"  class="col-auto mx-1 btn btn-danger" (click)="eliminaritem.close()">Cancelar</button>     
	</div>
</ng-template>
<!-- Menu de confirmacion de actualizacion -->
<ng-template #actualizaritem let-actualizaritem>
    <div class="modal-body row m-0 justify-content-center">
        <div class="col-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" fill="currentColor" class="bi bi-emoji-smile text-success" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
              </svg>
        </div>
        <p class="fs-5 col-12">Estas seguro que desea eliminar este producto?<br> esta accion es <strong class=" text-danger">irreversible</strong>.</p>
        <hr>
        <button class="btn btn-primary col-auto"  (click)="update()">Aceptar</button>
        <button class="col-auto mx-1 btn btn-danger" (click)="actualizaritem.close()">Cancelar</button>     
	</div>
</ng-template>
<!-- Menu de confirmacion de creacion -->
<ng-template #crearitem let-crearitem>
    <div class="modal-body row m-0 justify-content-center">
        <div class="col-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" fill="currentColor" class="bi bi-emoji-smile text-success" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
              </svg>
        </div>
        <p class="fs-5 col-12">Estas seguro que desea crear este producto?<br> esta accion es <strong class=" text-danger">irreversible</strong>.</p>
        <hr>
        <button class="btn btn-primary col-auto"  (click)="create()">Aceptar</button>
        <button class="col-auto mx-1 btn btn-danger" (click)="crearitem.close()">Cancelar</button>     
	</div>
</ng-template> 